//
// - - - - - - - - - - Colors - - - - - - - - - - //
//

$white: #fff;

//
// - - - - - - - - - - Typography - - - - - - - - - - //
//

$base-weight: 300;
$bold-weight: 700;

//
// - - - - - - - - - - Media Sizes - - - - - - - - - - //
//

$sm: 500px;
$med: 768px;
$lg: 1024px;
