//
// - - - - - - - - - - Media Queries - - - - - - - - - - //
//

@media (min-width: $sm) {
	.card {
		flex-direction: row;
		justify-content: space-around;
		padding: 20px 0;
	}

	.employee-img {
		display: flex;
		width: 30%;
	}

	.employee-info {
		width: 60%;
		text-align: left;
	}
}

@media (min-width: $med) {
	.card {
		width: 47%;
		padding-left: 5px;
	}

	.avatar {
		width: 100px;
	}

	.employee-email {
		overflow-wrap: break-word;
	}
}

@media (min-width: $lg) {
	.card {
		width: 30%;

		.avatar {
			width: 75px;
		}

		.employee-info {
			h2 {
				font-size: 1.2em;
			}
		}
	}
}

@media (min-width: $xl) {
	.card {
		.avatar {
			width: 150px;
			margin-left: 10px;
		}

		.employee-info {
			margin-left: 50px;
		}
	}
}
